{% extends 'base.html.twig' %}
{% import 'macros/macros.html.twig' as macros %}
{% block title %}Help{% endblock %}
{% block body %}
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">Help: Getting Started</div>
            <div class="card-body">
                <h4>Logging in</h4>
                <hr>

                You do not need a separate account to use ESO Raidplanner. You can simply login to ESO Raidplanner by
                clicking on the purple login button in the top menu.<br><br>

                <div class="alert alert-info">
                    <li class="fa fa-info-circle"></li>
                    Make sure to change your timezone and clock settings in your profile when you log in the first time!
                </div>

                <br><h4>Activating your Discord Server/Guild</h4>
                <hr>
                <div class="alert alert-info">
                    <li class="fa fa-info-circle"></li>
                    Keep in mind that in order to activate a Discord Server/Guild on ESO Raidplanner you need to be the
                    server owner!
                </div>

                After loggin in, hover over your profile avatar and name on the top right of the screen. A new menu
                should open. Here you want to select the option "Your Discord Servers". Go to this page. You will see
                two lists. The first list is a list of Discord servers you own. The second list is a list of Discord
                servers you are a part of.

                For the servers you own, there will be a green button saying "Create guild froms server". You can click
                this button. The system will then guide you through the rest of the process.

                <br><br><h4>Onboarding members</h4><hr>
                Once a server/guild has been activated via the previously explained process onboarding members is really
                easy. Members that are in your Discord server will automatically become part of the Raidplanner guild
                when they either log in to raidplanner or speak with the bot in your Discord server.
            </div>
        </div>
    </div>
{% endblock %}