@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/css/all.css';
@import '~select2/dist/css/select2.min.css';
@import '~@fullcalendar/core/main.min.css';
@import '~@fullcalendar/bootstrap/main.min.css';
@import "~easymde/dist/easymde.min.css";

.node-js {
  color: #215732;
}
.php {
  color: #8892be;
}
.laravel {
  color: #f55247;
}
.discord {
  color: #7289DA;
}
.yarn {
  color: #2188b6;
}
.jira {
  color: #0052CC;
}
.bootstrap {
  color: #080135;
}
.javascript {
  color: #F0DB4F;
}
.amazon-bg {
  background-color: #ff9900;
  border-color: #ff9900;
  color: white;
}
.patreon-bg {
  background-color: #f96854;
  border-color: #f96854;
  color: white;
}
.paypal-bg {
  background-color: #3b7bbf;
  border-color: #3b7bbf;
  color: white;
}
.twitter-bg {
  background-color: #1da1f2;
  border-color: #1da1f2;
  color: white;
}
.discord-bg {
  background-color: #7289DA;
  border-color: #7289DA;
  color: white;
}
.github-bg {
  background-color: black;
  border-color: black;
  color: white;
}
/* Remove the top border when a table is missing the header */
.table > tbody > tr:first-child > th,
.table > tbody > tr:first-child > td {
  border: none;
}

body {
  background-image: url("../images/bg.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}


/* Footer at bottom */
html{ height:100%; }
body{ min-height:100%; padding:0; margin:0; position:relative; }

/* Trick: */
body {
  position: relative;
}

body::after {
  content: '';
  display: block;
  height: 90px; /* Set same as footer's height */
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.dropdown-menu{
  top: 30px; /*Adjust this to around 33px */
}

.fc-day-grid-event > .fc-content {
  white-space: unset !important;
}
.fc-dayGrid-view .fc-body .fc-row {
  min-height: 8em;
}

.card-header {
  font-weight: bold;
  font-size: large;
}

.patreon-1 {
  color: saddlebrown;
}
.patreon-2 {
  color: silver;
}
.patreon-3 {
  color: goldenrod;
}
.patreon-4 {
  color: red;
}

.attendee-status-2 {
  background-color: rgba(255, 255, 0, 0.5);
}
.attendee-status-3 {
  background-color: rgba(50, 205, 50, 0.5);
}

.editor-toolbar {
  background-color: white !important;
}
